<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head')%>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="nav">
          <img src="/img/logo-1.png" alt="" />
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Pages</a></li>
            <li class="btn nav-btn"><a href="#">Contact</a></li>
          </ul>
          <div class="hamburger">
            <a href="#"><i class="fas fa-bars"></i></a>
          </div>
        </div>
      </div>
    </nav>
    <section id="header">
      <div class="container">
        <div class="header_left">
          <img src="img/header/header_img_1.png"  data-aos="fade-left"/>
          <h1>The Smarter Way To Learn Anything</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus, inventore?
          </p>
          <div class="header_btns">
            <a href="#" class="btn header_btn btn_neon">Contact Us</a>
            <a href="#" class="btn header_btn btn_blue">Read more</a>
          </div>
        </div>
        <div class="header_right">
          <img src="img/header/header_img_2.png" alt="" data-aos="fade-up"/>
        </div>
      </div>
    </section>
    <section id="second">
      <div class="container">
        <div class="side second_left">
          <h3 class="neon_title">Temporibus</h3>
          <h1 class="large_title">Featured Services</h1>
          <p>
            Neque porro quisquam est, qui dolorem ipsum dolor sit amet,
            consectetursed quia non numuam eius modi incidunt dolor in
            reprehenderit in voluta dolore eu fugiat nulla pariatur.
          </p>
          <p class="second_para">
            Omnis dolor repellendus. Temporibus autem quiu aut officiis debitis
            aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
            sint et molei non recusandae.
          </p>
          <a href="#" class="btn second_btn btn_neon">Read more</a>
        </div>
        <div class="second_right">
          <div class="second_right_left">
            <%- include('partials/second_left')%>
          </div>
          <div class="second_right_right">
              <%- include('partials/second_right')%>
        </div>
        </div>
      </div>
    </section>
    <section id="third">
      <div class="container">
        <div class="third_left"><img src="img/third/img_1.png" data-aos="fade-up" /></div>
        <div class="side third_right">
          <h3 class="neon_title">CONSIQUATUR</h3>
          <h1 class="large_title">Advance your career learn somthing new</h1>
          <p>
            Neque porro quisquam est, qui dolorem ipsum ui dolor sit amet,
            consectetursed quia non numuam eius modi incidunt dolor in
            reprehenderit in volua dolore eu fugiat nulla pariatur.
          </p>
          <p class="second_para">
            Omnis dolor repellendus. Temporibus autem quib aut officiis debitis
            aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
            sint et mole non recusandae.
          </p>
          <a href="#" class="btn third btn btn_neon">Read more</a>
        </div>
      </div>
    </section>
    <section id="fourth">
      <div class="container">
        <div class="fourth_top">
          <h3 class="neon_title">molestiae</h3>
          <h1 class="large_title">Popular Courses</h1>
          <p>
            Reudiandae sint et molestiae non recusandae. Itaque earum rerum hic
            tenetur a sapiente delectus, reiciendis voluptatibus maiores alias
            conseuatur
          </p>
        </div>
        <div class="fourth_bottom" data-aos="fade-up">
          <%- include('partials/fourth')%>
        </div>
      </div>
    </section>
    <section id="fifth">
      <div class="container">
        <div class="fifth_left side">
          <h3 class="neon_title">Sapiente</h3>
          <div class="large_title">Find Out More About Learning Experience</div>
          <p>
            Neque porro quisquam est, qui dolorem ipsum dolor sit amet,
            consectetursed quia non numaeius modi incidunt dolor in
            reprehenderit in voluvelit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
          <ul>
            <li>
              <i class="fas fa-check-circle"></i>Labore et dolore magnam aliuam
              ruaerat como
            </li>
            <li>
              <i class="fas fa-check-circle"></i>Quam nihil molestiae
              consequatur vel illum eius
            </li>
            <li>
              <i class="fas fa-check-circle"></i>Earue iosa nuae ab ilvlo
              inventore veritatis labore
            </li>
          </ul>
          <a href="#" class="btn fifth_btn btn_neon">Read more</a>
        </div>
        <div class="fifth_right"><img src="img/fifth/img_1.png" data-aos="fade-up" /></div>
      </div>
    </section>
    <section id="sixth">
      <div class="container">
        <div class="six_top">
          <h3 class="neon_title">molestiae</h3>
          <h1 class="large_title">Success Testimonials</h1>
        </div>
        <div class="slides">
          <div class="swiper_sixth">
            <div class="swiper-wrapper">
              <%- include('partials/sixth')%>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section id="seventh">
      <div class="container">
        <div class="seventh_left">
            <%- include('partials/seventh')%>
        </div>
        <div class="seventh_right side">
          <h3 class="neon_title">deserunt</h3>
          <h1 class="large_title">Our Latest Blogs</h1>
          <p>
            Neque porro quisquam est, qui dolorem ipsum dolor sit amet,
            consectetursed quia non numu eius modi incidunt dolor in
            reprehenderit in volu velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
          <a href="#" class="btn btn_neon seventh_btn">View all blogs</a>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="contact_top" data-aos="fade-up">
          <h3 class="neon_title">Get In touch</h3>
          <h1 class="large_title">Contact Us Now</h1>
        </div>
        <div class="form" data-aos="fade-up">
        <form action="">
          <input type="text" name="name" placeholder="Name" />
          <input type="email" name="email" placeholder="Email" />
          <input type="text" name="phone" placeholder="Phone" />
          <input type="text" name="subject" placeholder="Subject" />
          <textarea
            name="message"
            placeholder="Message"
            cols="30"
            rows="10"
          ></textarea>
          <input type="submit" value="Submit" class="submit btn btn_neon" />
        </form>
    </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer_top">
          <div class="footer_top_first">
            <img src="img/logo-1.png" alt="" />
            <p class="second_para">
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia conseunmagni dolores eos qui ratione
              voluptatem
            </p>
            <p>
              Duis aute irure dolor in reprehenderit in voluptae velit esse
              cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
          <div class="footer_top_center">
            <h3>Popular Courses</h3>
            <ul>
              <li>Digital Marketing</li>
              <li>Copy Writting</li>
              <li>Google Awards</li>
              <li>Facebook Ads</li>
              <li>Self Branding</li>
            </ul>
          </div>
          <div class="footer_top_center">
            <h3>Popular Courses</h3>
            <ul>
              <li>Digital Marketing</li>
              <li>Copy Writting</li>
              <li>Google Awards</li>
              <li>Facebook Ads</li>
              <li>Self Branding</li>
            </ul>
          </div>
          <div class="footer_top_last">
            <h3>Contact Us</h3>
            <div class="footer_contact">
              <li><i class="fas fa-envelope"></i>help@eginary.com</li>
              <li>
                <i class="fas fa-map-marker-alt"></i>King Street Melbourne,
                Australia
              </li>
              <li><i class="fas fa-phone-alt"></i>+7 (928)-123-45-45</li>
            </div>
            <div class="social">
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2021 Eginary. All Rights Reserved</p>
      </div>
    </footer>
    <script src="/swiper.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript">
        AOS.init({
            duration: 1000,}
        );
    </script>
  </body>
</html>
